<div class="text-center">
    <h2 class="text-5xl md:text-6xl lg:text-7xl font-extrabold text-black bg-clip-text">
      <span class="text-red-800">F</span>eatures
    </h2>
    <div class="w-24 h-1 bg-gradient-to-r from-red-600 to-red-800 mx-auto rounded-full"></div>
</div>