
<header class="h-24 sm:h-16 bg-gray-200 flex max-w-7xl justify-center items-center w-full">
    <div class="container px-6 sm:px-6 flex items-center justify-between">
        <!-- app name -->
        <div class="flex">
            <div class="font-black text-black text-2xl flex items-start">
                Hiker
            </div>
            <span class="font-black text-red-800 dark:text-gray-500 text-2xl flex items-start">do</span>
        </div>
        <!-- dark mode -->
        <div class="flex">
        </div>
    </div>
</header>
