
<style>
    .parallax-bg {
  background-image: url('/sakura.png');
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
}
  </style>

<section class="relative max-h-64 sm:h-64 parallax-bg flex items-center justify-center">
    <div class="absolute inset-0 bg-transparen"></div>
    <div class="relative z-10 text-center text-white p-8">
      <h1 class="text-4xl font-bold">Join Hikerdo Now!</h1>
      <p class="mt-4 text-lg">hikerdo.com/signin</p>
    </div>
  </section>