<section id="welcome" class="flex justify-center bg-gray-200">
    <div class="bg-gray-200 px-4 pb-16 sm:pb-20 sm:pt-16 md:h-full max-w-7xl w-full flex flex-col sm:gap-32 md:flex-row justify-center items-center lg:px-32 lg:pl-16">
        <div class="md:w-6/12 relative z-10 overflow-hidden group animate-fadeIn">
            <img 
            src="/gateR2.png" 
            class="object-contain transition-all duration-500 ease-in-out transform 
                     hover:scale-105 hover:rotate-1 animate-slideInLeft">
        </div>
        <div class="md:w-5/12 xl:w-4/12 flex flex-col items-center md:items-start md:text-left mt-8 md:mt-0 relative z-10 animate-fadeIn">
            <h1 class="text-4xl lg:text-5xl text-center sm:text-start text-gray-900 leading-none mb-4 font-black animate-slideInDown">Welcome To Hiker<span class="text-red-800">do</span></h1>
            <p class="text-lg text-center md:text-start lg:text-lg mb-8 md:mb-12 text-black animate-slideInRight">
                Hikerdo is project management app designed to help you organize, track, and complete
                your projects efficiently. Whether you're managing a small team or coordinating a large-scale initiative,
                Hikerdo offers all the tools you need to succeed!
            </p>
            <a href="https://app.hikerdo.com" class="animate-bounceIn md:mb-0 font-semibold text-lg bg-black text-white py-3 px-12 rounded-full hover:bg-red-800 transition duration-300 ease-in-out transform hover:scale-105">
                Sign In!
            </a>
        </div>
    </div>
</section>